/* global variables */
:root{
    --barand-color: #2196F3 ;
}

/* normalize */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body{
    background-color: #fff;
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
}

/* HEDER */
.nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.main-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.menu-list1 {
    column-gap: 50px;
    display: flex;
}
.menu-list2 {
    display: flex;
    column-gap: 50px;
    margin-left: auto;
}


.nav .logo-text {
    margin-right: 93px;
}

.logo-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #000;
}

.logo-text-span{
    color: var(--barand-color);
}

.menu-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-link:hover,
.menu-link:focus,
.link-header:hover,
.link-header:focus{
    color: var(--barand-color);
}

.link-header:hover .icon-mail,
.link-header:focus .icon-mail,
.link-header:hover .icon-telef,
.link-header:focus .icon-telef {
    fill: var(--barand-color);
}


.link-header{  
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 1px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.icon-mail {
    width: 16px;
    height: 12px;
    fill: currentColor;
}

.icon-telef {
    width: 10px;
    height: 16px;
    fill: currentColor;
}

.text-header{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-studio{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    background-color: var(--barand-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn-studio:hover,
.btn-studio:focus{
    background-color: #188CE8;
}

.background-section{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
    
}


 /* peculiarities */

.peculiarities {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px
  }

.peculiarities > .item {
    flex-basis: calc((100% - 90px) / 4);
}

.antenna-icon {
    width: 70px;
    height: 70px;
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    min-width: 270px;
    margin-bottom: 30px;

    background: #F5F4FA;
    border-radius: 4px;
    
}

.text-headline{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.text-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.section-3 {
    padding-bottom: 94px;
}

.text-h{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.studio-section{
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.studio-section-link {
    padding-bottom: 94px;
}

.studio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--barand-color);
}

.social-link:hover .social-list-icon,
.social-link:focus .social-list-icon{
    fill: #fff;
}

.text-team-name{
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-profession{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


.block-content{
    flex-basis: calc((100% - 90px) / 4);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.text-icon {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.link-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
 
.section-item {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
} 

.link-item-icon:hover,
.link-item-icon:focus {
    border-color: var(--barand-color)
}

.link-item-icon:hover .section-item,
.link-item-icon:focus .section-item{
    fill: var(--barand-color);
}

.foother{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.foother-section {
    display: flex;
    align-items: baseline;
}

.foother-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo-text-span-dark{
    color: #fff;
}

.address-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.box-address{
    margin-right: 70px
}

.contacts{
    margin-top: 20px;
}

.address-icon {
    display: flex;
    column-gap: 10px;
}

.link-footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.link-footer-icon:hover,
.link-footer-icon:focus {
    background-color: var(--barand-color);
}

.contacts-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.icon-footer {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.text-social-network {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-blok-items {
    padding-top: 12px;
    padding-bottom: 40px;
}

.contacts-text:hover,
.contacts-text:focus,
.address-text:hover,
.address-text:focus{
    color: var(--barand-color);
}

.btn{
    padding: 6px 22px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA; 
    border-radius: 4px;
}

.btn:hover,
.btn:focus{
    color: #fff;
    background-color: var(--barand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.box-content{
    flex-basis: calc((100% - 60px) / 3);
    background-color: #fff;
    border: 1px solid #EEEEEE; 
}

.box-content-link{
    text-decoration: none;
    display: block;
}

.box-content-link:hover,
.box-content-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.carst-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.h-box{
    margin-bottom: 4px;

    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-box{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-csrts {
    padding-top: 92px;
    padding-bottom: 96px;
}

.box-content-text {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;

    border: 1px solid #EEEEEE;
    border-top: 0;
}